.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
  
.stopper {
    width: 802px; 
    height: 30px;
    background-color: rgb(55, 55, 55);
    display: flex;
    justify-content: right;
    align-items: center;
    position: absolute;
    font-size: 1.2rem;
    color: white;
    margin: 0 0 0 0;
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.3rem;
}

.stopper p {
  margin-right: 20px;
}

.circle{
    width:45px;
    height:45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius:45px;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    -khtml-border-radius:50px;
    color:#fff;
    background-color:#b9c1de;
    position: absolute;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    border: 2px solid #666;
    cursor: pointer;
    user-select: none;
}

@media only screen and (min-width: 667px) and (min-height: 375px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    transform: scale(0.8);
  }
  .stopper {
    max-width: 1000px; 
    height: 30px;
    background-color: rgb(55, 55, 55);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.2rem;
    color: white;
    margin: 0;
    font-family: 'Share Tech Mono', monospace;
  }
  
}


@media only screen and (min-width: 391px) and (max-width: 844px) and (min-height: 390px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    transform: scale(0.9);
  }
  .stopper {
    max-width: 801px; 
    height: 30px;
    background-color: rgb(55, 55, 55);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 22px;
    font-size: 1.2rem;
    color: white;
    margin: 0;
    font-family: 'Share Tech Mono', monospace;
  }
  
}

@media only screen and (min-width: 896px) and (min-height: 414px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    transform: scale(0.9);
  }
  .stopper {
    max-width: 800px; 
    height: 30px;
    background-color: rgb(55, 55, 55);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 48px;
    font-size: 1.2rem;
    color: white;
    margin: 0;
    font-family: 'Share Tech Mono', monospace;
  }
  
}

@media only screen and (min-width: 740px) and (max-height: 361px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    transform: scale(0.8);
  }
  .stopper {
    max-width: 1000px; 
    height: 30px;
    background-color: rgb(55, 55, 55);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.2rem;
    color: white;
    margin: 0;
    font-family: 'Share Tech Mono', monospace;
  }
  
}

@media only screen and (max-width: 740px) and (max-height: 361px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: visible;
    transform: scale(0.6);
  }
  .stopper {
    max-width: 1000px; 
    height: 30px;
    background-color: rgb(55, 55, 55);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -70px;
    left: -30px;
    font-size: 1.2rem;
    color: white;
    font-family: 'Share Tech Mono', monospace;
  }
  
}

@media only screen and (min-width: 647px) and (max-height: 361px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: visible;
    transform: scale(0.6);
  }
  .stopper {
    max-width: 700px; 
    height: 30px;
    background-color: rgb(55, 55, 55);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 1.2rem;
    color: white;
    font-family: 'Share Tech Mono', monospace;
  }
  
}