.container {
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container h1 {
    margin-top: 10px;
    text-align: center;
    padding: 5px;
}

.container h2 {
    text-align: center;
    padding: 15px;
}

.grid {
    width: 300px;
    height: 300px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
 
.square {
    width: 90px;
    height: 90px;
    border: 2px solid rgb(86, 86, 86);
    background-color: lightgrey;
    transition: background-color 0.5s;
    margin: 5px;
    border-radius: 10px; 
}

.testSquare {
    background-color: red;
}

.clickedSquare {
    background-color: rgb(0, 128, 255);
}

.button{
    width: 130px;
    background-color: aliceblue;
    color: black;
    padding: 10px 20px;
    align-self: center;
    margin-top: 20px;
    font-weight: bold;
    cursor: pointer;
}

.exitButton{
    width: 130px;
    background-color: aliceblue;
    color: black;
    padding: 10px 20px;
    align-self: center;
    margin-top: 150px;
    font-weight: bold;
    cursor: pointer;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 10;
  }
  

.transition_to_red {
    background-color: rgb(255, 38, 38);
    transition: background-color 0.5s;
}

.transition_to_green {
    background-color: rgb(2, 152, 2);
    transition: background-color 0.5s;
}

.status {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 1.2rem; 
}

